@font-face {
  font-family: 'blackOps';
  src: url('../fonts/blackopsone-regular-webfont.woff2') format('woff2'),
    url('../fonts/blackopsone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --mainTheme: rgb(226, 54, 54);
  --secondaryTheme: white;
  --accents: black;
  --hoverColor: rgb(80, 74, 74);
}

body {
  margin: 0;
}

div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'blackOps', sans-serif;
}

button {
  font-family: 'blackOps', sans-serif;
}

div.content {
  flex: 1;
  background-color: var(--hoverColor);
}
