:root {
  --mainTheme: rgb(226, 54, 54);
  --secondaryTheme: white;
  --accents: black;
  --hoverColor: rgb(80, 74, 74);
}

body {
  margin: 0;
}

div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div.content {
  flex: 1;
  background-color: var(--hoverColor);
}
